/* Empty. Add your own CSS if you like */
.centered{text-align: center;}
.slide_img{width: 100%;}
.slider-slide{margin-bottom: -5px;}
.margin0{margin:0px !important}
.padding0{padding:0px !important}
.border_radius0{border-radius:0px !important;border: medium none !important;} 
.list .item-body p{margin-top: 0px;} 