<ion-view view-title="Office Duty">
  <ion-content class="padding">
    <h3>Office Duty</h3>
    <form id="office_form" name="office_form">
      <div class="list">
        <label class="item item-input">
          <textarea ng-model="data.reason" placeholder="Reason"></textarea>
        </label>
        <label class="item">  
          <button class="button button-block button-balanced" ng-click="saveReason();">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
